@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@import url('./icons/style.css');   /*Ипорт для шрифтов*/

:root {

    --progress_slide: 10%;
    /*Colors*/
    --accent: #f52a2b;
    --grey_dark: #7c8080;
    ---grey_light: #bcbcbc;
    --dark: #1a1a33;
    --bg: #e5e5e7;
    --gradient-primary: linear-gradient(to right, #fea13e, var(--accent));
    --gradient-secondary: linear-gradient(to right, var(---grey_light), var(--grey_dark));
    --gradient_red: linear-gradient(to right, #f4535b, #fb7478);
    
    /*Shadows*/
    /* --outer_light: -10px -10px 20px white;
    --outer_dark: 10px 10px 20px rgba(0,0,0,0.3); */



    --transition: all 0.5s ease-in-out; /*Стиль анимации*/
    
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--bg);
}

/*Commin Styles*/
.outer-shadow {
    
    border-left: 1px solid white;       /*Только левый край обведен*/
    box-shadow: -10px -10px 20px white, 10px 10px 20px rgba(0,0,0,0.3);
}
.inner-shadow {
    
    border-left: 1px solid white;       /*Только левый край обведен*/
    box-shadow: inset 10px 10px 20px rgba(0,0,0,0.3), -10px -10px 20px white;
}
.wrapper {
    display: grid;      /*Режим голонок*/
    grid-template-columns: 1fr 2fr 1fr;     /*Кол-во и размер колонок*/
    /* border: 5px solid red; */
    min-height: 100vh;
}
.wrapper > div {        /*Правило только для первого уровня вложенности*/
    /* border: 5px solid green; */
    padding: 32px;
}
.wrapper > div > *:not(:last-child) {
    margin-bottom: 16px;
}

/*Первому потомку ребелку*/
.wrapper > div:nth-child(2) > *:first-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
}
.target {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 60px;
    align-content: center;
}

.input {
    width: 100%;
    background-color: var(--bg);
    transition: var(--transition);
    border: 3px solid var(---grey_light);
    border-radius: 8px; /*размер Обводки*/
    padding-left: 12px;
    display: flex;          /*Включаем флекс для выравнивания по вертикали*/
    align-items: center;        /*Вертикальное выравнивание по центру*/
    gap: 4px;
    font-weight: 300;
    color: var(--grey_dark);
    overflow: hidden;           /*Убирает наезды*/
    
    
}
.input:focus-within {
    border-radius: 16px;
    border-color: white;
    background-color: white;
}
.input input {
    outline: none;  /*Убрать стандартную обводку*/
    background-color: var(--bg);
    border: none;
    padding: 12px;
    padding-left: 0;
    flex-grow: 1;               /*Занимать всё пространство по горизонту*/
    font-size: 1em;     /*Размер равен родительскому размеру*/
    transition: var(--transition);
}
.input:focus-within input {
    background-color: white;
}

.button,
.selectbox__selected {
    cursor: pointer;
    padding: 14px 24px;
    text-align: center;
    border-radius: 16px;
    background: var(--gradient-primary);    /*Градиент задаёться здесь*/
    color: white;
    font-weight: 300;
}

/*Selectbox*/

.selectbox {
    cursor: pointer;
    border-radius: 16px;
    overflow: hidden;
    transition: var(--transition);
    color: white;
    font-weight: 300;
}
.selectbox__selected {
    position: relative;  /*Что бы можноо было позиционировать стрелку*/
    padding: 22px 48px;
    min-width: max-content;
    text-align: left;
}
.selectbox__selected > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);        /*Что бы встал по центру надпись*/
    margin-top: -9px;
    transition: var(--transition);
}
.ic_arrow_down {
    font-size: 0.8em;
    position: absolute;
    right: 24px;        /*Переносил иконку в право*/
    top: 50%;
    margin-top: -0.4em;
}
.selectbox__list {
    max-height: 0;      /*Убираем строчки когда не опен*/
    transition: var(--transition);  /*Анимация при переключение строчек*/
}
.selectbox_item {
    padding: 10px 24px;
    transition: var(--transition);  /*Анимация при переключение строчек*/
    font-size: 14px;
}
.selectbox_item:hover,
.selectbox_item.active {
    background-color: var(--accent);
    border-radius: 100px;
}
.selectbox_item:not(:last-child) {      /*Расстояние между строчками что бы не сливалось. Правило кроме последней строчки*/
    margin-bottom: 4px;
}
.selectbox.open {
    border-radius: 24px;
    background: var(--dark);
    font-size: 14px;
}
.selectbox.open .selectbox__selected {
    background: var(--dark);
    text-align: left;
    padding-left: 36px;
}
.selectbox.selectbox.open .selectbox__selected > span {
    left: 36px;
    transform: translateX(0);
}
.selectbox.open .selectbox__list {
    padding: 0 12px 24px;   /*Выравнивание строчек в нутри*/
    max-height: max-content;            /*отображаем строчки*/
}

/*Slider*/
.sliders {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 30px;
}
.slider {
    padding-top: 20px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    border-radius: 100px;
    height: 250px;
    justify-items: center;
    align-items: center;
    background-color: var(--bg);
}
.slider__action {
    position: relative;
    width: 8px;
    height: 100%;
    background-color: #ccc;
    border-radius: 20px;
}
.slider__progress {
    position: absolute;
    background-color: var(--accent);
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--progress_slide);
    border-radius: 20px;
}

.slider__round {
    cursor: pointer;
    --size: 28px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    position: absolute;
    left: 50%;
    right: 0;
    bottom: var(--progress_slide);
    transform: translateX(-50%);        /*Что бы выравнивать с учётом размеру объекта*/
    /* margin-left: calc(var(--size) / -2); */
    background-color: var(--bg);
}
.slider__round::after {
    --offset: 10%;
    content: '';
    display: block;
    position: absolute;
    top: var(--offset);
    bottom: var(--offset);
    left: var(--offset);
    right: var(--offset);
    background: var(--gradient-primary);
    border-radius: 100%;
}
.slider i {
    font-size: 1.4em;

    /*Так делается шрифт градиент*/
    background: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*Блок круглых кнопок*/
.round-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    align-items: center;
    justify-items: center;
}
.ic_back {
}
.ic_stop {
}
.ic_next {
}
.active {
}
.ic_continue {
}
.ic_play {
}
.ic_pause {
}
.ic_map {
}
.ic_moon {
}
.ic_star {
}
.reund-button {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}
.reund-button i {
    font-size: 1.2em;
}
.reund-button:hover i,
.reund-button.active i {
    /*Обрезка фона*/
    background: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*Крутилка*/

.circle-slider {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    /* width: 30vw; */ /*относительная виличина*/
    /* height: 30vw; */
    width: 300px;
    height: 300px;
}
.circle-slider > * {        /*Всем эллементам первого уровня сложности*/
    border-radius: 100%;
}
.circle-slider__circle_1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg);
}
svg.circle-slider__circle_2 {
    --offset: 11%;
    position: absolute;
    top: var(--offset);
    bottom: var(--offset);
    left: var(--offset);
    right: var(--offset);
    padding: 10px;
}
/*Настройка штрихов из svg*/
.segment {
    fill: transparent;      /*Заливка для svg*/
    stroke: var(--grey_dark);
    stroke-width: 10px;
    stroke-dasharray: 0.5 13.9;
}
svg.circle-slider__circle_3,
.circle-slider__circle_3_bg {
    --offset: 20%;
    position: absolute;
    top: var(--offset);
    bottom: var(--offset);
    left: var(--offset);
    right: var(--offset);
    transform: rotate(-90deg);      /*Повернуть слайдер что бы он начинался с верху заполнение*/
}

.circle-slider__circle_3_bg {
    transform: initial; /*Сбро разворота что бы у прокладки тень была под верным углом*/
}
.circle_1, 
.circle_2,
.circle_3 {
    fill: transparent;      /*Прозрачность для svg*/
}
.circle_1, 
.circle_2 {
    stroke: var(---grey_light);
    stroke-width: 1px;
}
.circle_2 {
    /* stroke: var(--accent); */
    stroke: url(#gradient);
    stroke-dasharray: 200 313;  /*313 это полностью заполненный круг 2-е значение*/
    
}
.circle_3 {
    
    fill: var(--bg);    /*Вырезать заливку*/
    /* stroke: var(--accent); */
}
.circle_4 {
    fill: var(--bg);
    stroke: var(--accent);
    position: relative;
}
.ic_power {
    z-index: 1;
}
.circle-slider i {
    font-size: 1.6em;
    background: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.circle-slider__drop-col,
.circle-slider__drop-row {
    --offset: 2%;
    z-index: 1;
    position: absolute;
    top: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    left: var(--offset);
}

/*Делаю каплю на крутилку*/
.circle-slider__drop-col::before,
.circle-slider__drop-col::after,
.circle-slider__drop-row::before,
.circle-slider__drop-row::after {
    --radius: 100%;
    content: '';
    display: block;
    position: absolute;
    border: 3px solid transparent;
    border-bottom: 13px solid var(--accent);
    border-radius: 20px;

}
.circle-slider__drop-col::before {
    left: 50%;
}
.circle-slider__drop-col::after {
    left: 50%;
    bottom: 0;
    transform: rotate(180deg);      /*Разворот на 180%*/
}
.circle-slider__drop-row::before {
    left: 1%;
    bottom: 50%;
    transform: rotate(-90deg);      /*Разворот на 180%*/
}
.circle-slider__drop-row::after {
    right: 1%;
    bottom: 50%;
    transform: rotate(90deg);      /*Разворот на 180%*/
}
/*квандратные кнопки button squre*/
.buttons-square {
    cursor: pointer;
    margin-top: 30px;
    display: flex;
    gap: 16px;
}
.button-square {
    --size: 70px;
    width: var(--size);
    height: var(--size);
    border-radius: calc(var(--size) / 4);
    display: grid;
    grid-auto-flow: column;     /*Сетка начнёт не горизонтально выстраиваться а вертикально*/
    align-items: center;
    justify-content: center;      /*Вертикаль по центру*/
   /*  align-content: center;  */     /*Вертикаль по центру*/
    justify-items: center;      /*Горизонталь по центру*/
    position: relative;
}
.button-square::before {
    z-index: -1;
    --offset: 10%;
    content: '';
    display: block;
    position: absolute;
    top: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    left: var(--offset);
    border-radius: calc(var(--offset) * 2);
    border: 2px solid var(--accent);
}
.button-square.active {
    color: white;

}
.button-square:not(.active) span {      /*Всем эллементам которые не имеют класс active*/
    /*Так делается шрифт градиент*/
    background: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-square.active::before {
    
    background: var(--gradient_red);
    color: white;
    border: 0;
}

.button-square span:last-child {
    font-size: 0.8em;
    margin-left: 4px;
}

.button-round-icon {
    cursor: pointer;
    --size: 140px;
    display: flex;
    flex-direction: column;     /*Изменить направление выравнивания*/
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    width: var(--size);
    height: var(--size);
    color: var(--grey_dark);
    border-radius: var(--size);
    background: linear-gradient(to left top, transparent, white);       /*градиент в другую сторону*/
    text-transform: uppercase;
}
.button-round-icon i {
    font-size: 46px;
    margin-bottom: 8px;
    color: var(--accent);
    font-size: 40px;
}
.button-round-icon.active,
.button-round-icon:hover {
    color: var(--accent);
}
.button-round-icon.border {
    position: relative;
    font-size: 11px;
}
.button-round-icon.border::after {
    --offset: 10%;
    content: '';
    display: block;
    position: absolute;
    top: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    left: var(--offset);
    border-radius: 100px;
    border: 3px solid #ddd;

}
.button-round-icon.active i,
.button-round-icon:hover i {
    
    /*Обрезка фона*/
    background: var(--gradient-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 6px;
}
.inner-shadow {
}
.ic_map {
}

.input-dark {
    outline: none; /*Убрать синюю обводку*/
    border: none;
    background-color: var(--dark);
    padding: 14px 40px;
    font-weight: 300;
    font-size: 18px;
    color: white;
    border-radius: 100px;
}


/*button-small*/
.button-small {
    cursor: pointer;
    padding: 14px 24px;    
    background: var(--gradient_red);
    color: white;
    text-align: center;
    border-radius: 100px;
    font-weight: 300;
}

/* Стили для карточек */

.card {
    background-color: var(--dark);
    border-radius: 16px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.9);
    color: white;
    padding: 32px;
}
.card__content {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-gap: 40px;
    align-items: center;
}
.card__content:nth-child(2) .card__info {
    border-top: 2px dashed var(--grey_dark);
    border-bottom: 2px dashed var(--grey_dark);
    margin: 16px 0;
    padding: 16px 0;

}
.card__letter {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    background: var(--gradient-primary);
    /*Выравниваем по центру*/
    display: grid;
    align-items: center;
    justify-items: center;
}
.card__info {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}
.card__info span {
    position: relative;
    color: var(---grey_light);
    text-transform: uppercase;
    font-size: 9px;
    top: -5px;
}
.card__title {
    font-size: 14px;
}
.card_lenght {
}

